#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: var(--font-size-h1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  em {
    color: var(--accent-color);
  }

  .logo-image {
    width: 1.3em;
    height: 1.3em;
  }
}
